header {
  background-color: #666;
}

h1 {
  color: #498cf2;
}

body {
  font-size: 32px;
}

body div {
<<<<<<< HEAD
  font-size: 20px;
=======
  font-size: 21px;
>>>>>>> 2477571c3a18ffab766f8543ec40982d08c65425
}

.red {
  color: rgba(255, 0, 0, 0.988);
}
